
body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(46, 46, 46, 0.9), rgba(63, 59, 59, 0.9)), url(../images/backgroundpicture/working_remotely.png);
    padding: 5%;
    padding-top: 0%;
}


header > nav{
    display: inline-block;
    /* background-image: linear-gradient(rgba(95, 79, 79, 0.4), rgba(117, 96, 96, 0.4)); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(94, 94, 94, 0.4)); */
    width: 100%;
}
.header-element {
    float: left;
    width: 33%;
}
#navbar {
    padding-top: 5%;
    margin-left: 34%;
    right: 0%; 
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
#navbar a {
    display: block;
    color: rgb(185, 156, 26);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    float: left;
}
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20%;
    border-bottom: #ddd;

  }


  
footer {
    position: fixed;
    bottom: 0;
    display: inline-block;
    color: rgb(185, 156, 26);
    width: 100%;
}

footer > div {
    float: left;
    width: 48%;
}



.copyright-text {
    float: right;
    text-align: center;
    /* color: rgb(185, 156, 26); */
}
 

.name-and-job-title {
    color: rgb(185, 148, 26);
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}



@-webkit-keyframes tracking-in-contract-bck {
0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
}
40% {
    opacity: 0.6;
}
100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}
@keyframes tracking-in-contract-bck {
0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
}
40% {
    opacity: 0.6;
}
100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}
  



.about_text {
    color: rgb(185, 156, 26);
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
}
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .name-and-job-title {
        font-size:60px;
        padding-left: 35%;
    }   

    .about_text {
        padding: 6%;
        padding-top: 2%;
        font-size:35px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .name-and-job-title {
        font-size:60px;
        padding-left: 35%;
    }
    .about_text {
        padding: 6%;
        padding-top: 2%;
        font-size:35px;
    }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .name-and-job-title {
        font-size:50px;
        padding-left: 30%;
    }
    .about_text {
        padding: 6%;
        padding-top: 1%;
        font-size:25px;
    }
}

/* Extra large devices (large laptops and desktops, 1360px and up) */
@media only screen and (min-width: 1360px) {
    .name-and-job-title {
        font-size:60px;
        padding-left: 30%;
    }
    .about_text {
        padding: 6%;
        padding-top: 3%;
        font-size:35px;
    }
}