        .container {
            background-color: #353333;
            display: grid;
        }
        
        .row {
            max-width: 1140px;
            margin: 0 auto;
        }
        
        .homep {
            background-color: #8fadac;
            height: 100vh;
        }
        
        header {
            background-attachment: scroll;
            background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url(working_remotely.png);
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
        
        .intro {
            position: absolute;
            top: 43%;
            left: 10%;
        }
        
        .btn {
            display: inline-block;
            padding: 10px 30px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            color: #fff;
            background-color: #1f1d1c;
        }
        
        .bio {
            margin: 0px;
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
        
        footer {
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #353333;
            color: white;
            text-align: center;
        }
        
        .social-icons {
            list-style: none;
            float: right;
            height: 2px;
            width: 3px;
        }
        
        .img {
            border-radius: 30%;
            height: 480px;
            width: 370px;
            margin: 3;
        }
        
        .skills {
            background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(cherry-laithang-NmPpz1jA_JE-unsplash.jpg);
            margin: 0px;
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
        
        .about {
            position: center;
            left: 2%;
            right: 1%;
            overflow: scroll;
        }
        
        .column {
            float: left;
            width: 33.33%;
        }
        
        .column1 {
            float: left;
            width: 25%;
        }
        
        .column2 {
            float: left;
            width: 100%;
            position: fixed;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .logo {
            height: 100px;
            width: auto;
            float: left;
            margin-top: 20px;
            border-radius: 50%;
        }
        
        .logo-black {
            display: none;
            height: 50px;
            width: auto;
            float: left;
            margin: 5px 0;
        }
        /* #toronto-content {
    position: relative;
    height: 100%;
    width: 700px;
} */
        /* .main-nav {
    overflow: hidden;
    background-color: rgb(14, 13, 13);
    top: 0;
    width: 40%;
    float: right;
}

.main-nav li {
    margin-right: 40px;
    position: fixed;
    width: fit;
}

.main-nav li a:link,
.main-nav li a {
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.px;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    display: inline-block;
    padding: 10px 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    background-color: #1f1d1c;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e0d4c9;
} */
        
        .main-nav {
            float: right;
            list-style: none;
            margin-top: 55px;
            width: 35%;
        }
        
        .main-nav li {
            display: inline-block;
            margin-left: 40px;
        }
        
        .main-nav li a:link,
        .main-nav li a:visited {
            padding: 8px 0;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 90%;
            border-bottom: 2px solid transparent;
            -webkit-transition: border-bottom 0.2s;
            transition: border-bottom 0.2s;
            display: inline-block;
            padding: 10px 10px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 50px;
            color: #fff;
            background-color: #1f1d1c;
        }
        
        .main-nav li a:hover,
        .main-nav li a:active {
            border-bottom: 2px solid #e67e22;
        }
        
        Mobile navi .mobile-nav-icon {
            float: right;
            margin-top: 30px;
            cursor: pointer;
            display: none;
        }
        
        .mobile-nav-icon i {
            font-size: 200%;
            color: #fff;
        }
        
        .mea {
            background-image: linear-gradient(rgba(108, 105, 109, 0.95), rgba(78, 75, 76, 0.95)), url(shutterstock_41674012.jpg);
            background-position: center;
            background-size: cover;
            height: 100vh;
        }
        
        .containerq {
            position: relative;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 50%;
            margin-left: 25%;
        }
        
        .contain {
            background-color: #353333;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
        
        .cont {
            background-attachment: scroll;
            background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url(shutterstock_41674012.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;
        }